{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% include "header.html" %}

{% block title %}All Patients{% endblock %}

{% block content %}

{% for wound in wounds %}

<div class="container fluid col-md-9" >
    <form style="width: 100%; ">
        <div class="row ">
        <div class="col-md-12 form-control form-control-md">

<!--            {{ wound.exudate_amount.label }} <br> {{ wound.weight}}<br>-->
     <a href="{{ url_for('delete', id=wounds.id) }}" class="button">Delete</a><br>

                 <label for="Exudate" class="col-sm-3 col-form-label col-form-label-sm">Exudate Amount</label>
            <a>{{ wound.exudate_amount }},</a> <br>

            <label for="Edges" class="col-sm-3 col-form-label col-form-label-sm">Edges</label>
            <a>{{ wound.edges }}</a> <br>
            <label for="tissuetype" class="col-sm-3 col-form-label col-form-label-sm">Type of Tissue in Wound Bed</label>
            <a>{{wound.type_of_tissue}}</a><br>

            <label for="TissueLoss" class="col-sm-3 col-form-label col-form-label-sm">Extent of tissue loss</label>
            <a>{{wound.tissue_loss}}</a><br>

            <label for="Odor" class="col-sm-3 col-form-label col-form-label-sm">Odor</label>
            <a>{{ wound.odor }} </a><br>

            <label for="Weight" class="col-sm-3 col-form-label col-form-label-sm">Weight</label>
            <a>{{ wound.weight }} </a><br>

            <label for="PeriWound" class="col-sm-3 col-form-label col-form-label-sm">Peri Wound Color</label>
            <a>{{ wound.peri_wound }}</a><br>

            <label for="WoundIntegrity" class="col-sm-3 col-form-label col-form-label-sm">Peri-Wound Integrity</label>
            <a>{{wound.wound_integrity}}</a><br>

            <label for="WoundTemperature" class="col-sm-3 col-form-label col-form-label-sm">Peri-Wound Temperature</label>
            <a>{{wound.wound_temperature}}</a><br>

            <label for="WoundTexture" class="col-sm-3 col-form-label col-form-label-sm">Peri Wound Texture</label>
            <a>{{wound.wound_texture}}</a><br>

            <label for="WoundPain" class="col-sm-3 col-form-label col-form-label-sm">Wound Pain</label>
            <a>{{wound.wound_pain}}</a><br>

            <label for="BMI" class="col-sm-3 col-form-label col-form-label-sm">BMI</label>
            <a>{{wound.bmi}}</a><br>

            <label for="AnatomicLocation" class="col-sm-3 col-form-label col-form-label-sm">Anatomic location</label>
            {{wound.anatomic_location}} <br>

    <a href="{{ url_for('edit', id=wounds.id) }}" class="button">Edit Patient</a>
        </div>

<section>
       {% for wound in wounds %}

<!--     # IF statement to differentiate Add and Edit-->
            {% if is_edit: %}
            <h1>Edit Patient</h1>
            {% else: %}
            <h1>New Patient</h1>
            {% endif %}

    <a href="{{ url_for('all_patients', post_id=wound.id) }}">
    <h2 class="post-title">
              {{wound.tissue_loss}}
            </h2>
<h3 class="post-subtitle">
              {{wound.wound_pain}}
            </h3>
          </a>
          <p class="post-meta">Created by
            {{wound.anatomic_location}}
            on {{wound.date}}

<!--        If user id is 1 then they can see the delete button -->
            {% if current_user.id == 1: %}
            <a href="{{url_for('delete_post', post_id=wound.id) }}">✘</a>
            {% endif %}

          </p>
        </div>
        {% endfor %}


        <!-- New Post -->
<!--    If user id is 1 then they can see the Create New Post button -->
        {% if current_user.id == 1: %}
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="{{url_for('add_patient')}}">Add new Patient</a>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
  <hr>


<!--If user id is 1 then they can see the Edit Post button &ndash;&gt;-->
          {% if current_user.id == 1 %}
           <div class="clearfix">
          <a class="btn btn-primary float-right" href="{{url_for('edit_post', post_id=wound.id)}}">Edit Patient</a>
          </div>
          {% endif %}
</section>



<!--        <div class="col-md-9">-->
<!--            {{wound.exudate_amount}}, {{wound.type_of_tissue}}, {{wound.tissue_loss}}, {{wound.wound_integrity}} <br>-->
<!--        </div>-->
<!--        <div class="col-md-9">-->
<!--             {{wound.wound_temperature}}, {{wound.wound_texture}}, {{wound.wound_pain}}<br>-->

<!--        </div>-->
<!--        <div>-->
<!--            {{wound.weight}}, {{wound.bmi}}, {{wound.anatomic_location}}-->
        </div>

    </form>




    </div>



 {% endfor %}
</div>



<div style="
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: 500px;
    class="container-fluid bottom_page">

  <div>
    <a class="nav-link" href="{{ url_for('add_patient') }}"><button type="button" class="btn btn-dark btn-sm btn-outline-primary download-button">Add Patient</a>
  </div>
    {% include "footer.html"%}
</div>


{% endblock %}


